.card {
    font-family: Helvetica;
    font-size: 2rem;
    text-align: center;
    color: black;
    background-color: white;
}

#mnemonic {
    font-size: 1rem;
    margin-top: 1rem;
}

#mnenomic > span {
    margin-left: 1rem;
    color: transparent;
    background: rgba(0, 0, 0, 0.5);
    transition: 50ms;
    font-style: italic;
}

#mnenomic:hover > span {
    color: unset;
    background: none;
    filter: none;
}